/*@media screen and (max-width:500px){
	body{background:green;}
}宽度小于500px时 绿色*/

/*@media screen and (min-width:800px){
	body{background:red;}
}宽度大于800px时 红色

@media screen and (max-height:600px){
	.m-page{
		height: 600px;
	}
	.m-transparent{
		height: 600px;
	}
}

@media screen and (min-height:600px){
	.m-page{
		height: calc(100vh - 0px);
	}
	.m-transparent{
		height: calc(100vh - 0px);
	}
}*/

.m-transparent {
	display: flex;
	position: absolute;
	left: 0px;
	top: 0px;
	
	margin: 0px;
	padding: 0px;
	
	flex-direction: column;
  width: 100%;
}
.m-trans-title {
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	
  width: 100%;
  height: 68px;
  padding: 0px;
	margin: 0px;
}
.m-trans-panel {
	display:flex;
	flex-direction: column;
  width: 100%;
  height: 100%;
}
		
.m-panel {
	display:flex;
	flex-direction: column;
  width: 100%;
  height: 100%;
}
.m-panel-default {
	display:flex;
	flex-direction: column;
  width: 100%;
  height: 100%;
}

.m-panel-bg {
	display:flex;
	width: 100%;
  height: 100%;
  margin: 0px; 
  padding: 0px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
    background-color: #f2f1ed;
  
  background-image: url(/var/images/mainbg/star-citizen-5k-d5.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: cover;
}
.m-panel-white-slogan{
	height:100%;
	width:80%;
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.m-panel-white-slogan-font{
	font-size: 2em;
	color: #a78e44;
	font-weight:900;
	font-family: cursive;
}
.m-panel-white-count-font{
	font-size: 1.2em;
	color: #a78e44;
	font-weight:500;
	font-family: cursive;
}
.m-panel-demo {
	display: flex;
	position: relative;
	left: 40%;
	top: -200%;
	flex-direction: column;
	width:  30%;
	height: 200%;
	
}
.m-panel-demo-top {
	display: flex;
	flex-direction: column;
	
	position: relative;
	left: 55%;
	top: -200%;
	margin: 0px;
	padding: 0px;
	
	width:  40%;
	height: 200%;
	
	justify-content: flex-end;
  align-items: center;
}
.m-panel-demo-bottom {
	display: flex;
	flex-direction: column;
	
	position: relative;
	left: 55%;
	top: -200%;
	margin: 0px;
	padding: 0px;
	
	width:  40%;
	height: 100%;
	
	/*justify-content: center;*/
  align-items: center;
}
.m-panel-white {
	display: flex;
	justify-content:center;
	width: 100%;
  height: 75px;
  margin: 0px; 
  padding: 0px;
  background-color: #f2f1ed;
  position: relative;
  	border-top:2px solid rgba(202,105,36,1.0);
  
}
.m-panel-count{
	display: block;
	position: absolute;
	height: 80%;
	left:30%;
}
.m-panel-count-scenarios{
	display: flex;
	flex-direction: column;
	
	height: 100%;
}
.m-panel-count-num{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 35px;
  width: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
	
	font-weight: 700;
  color: #de4848;
  font: normal 1.94em/37px "Lato";
  
  margin-left: 4px;
}