@media screen and (max-width:800px){
	.m-page{
		width: 800px;
	}
}

@media screen and (max-height:656px){
	.m-page{
		height: 656px;
	}
}

@media screen and (min-height:600px){
	.m-page{
		height: calc(100vh - 0px);
	}
}

.m-page {
	display:flex;
	flex-direction: column;
  width: 100%;
  min-width: 800px;
  min-height: 656px;
  /*
  height: 100%;
  background-color: #ffffff;*/
}

.m-title {
	display:flex;
	position: absolute;
	left: 0px;
	top: 0px;
	
	justify-content: space-between;
	align-items: flex-end;
	
  width: 100%;
  height: 68px;
  padding: 0px;
	margin: 0px;
	
  background-color: rgb(244,244,244,0.0);
}
.m-logo{
	display:flex;
  width: 130px;
  height: 100%;
  margin-left: 9%;
  border: 1px dashed #888888;
}
.m-nav{
	display:flex;
	
	width: 30%;
	height: 25px;
	justify-content: space-around;
	align-items: center;
	
	margin-bottom: 9px;
}
.m-sign{
	display:flex;
	flex-direction: column;
	
	padding: 0px;
	margin: 0px;
	
	width: 50px;
	height: 65px;
	margin-right: 10px;
	margin-bottom: 4px;
	
	justify-content: center;
	align-items: center;
}		
.m-profile{
	display: none;	
}	
.m-map {
	display:flex;
	flex-direction: column;
	align-items: center;
	
  width: 100%;
  height: 355px;
  background-color: rgb(66,67,58);
}
.m-map-top{
	display:flex;
	width: 80%;
	height: 45%;
	
}
.m-map-middle{
	display:flex;
	width: 80%;
	height: 40%;
	justify-content: space-between;
}
.m-map-bottom{
	display:flex;
	width: 80%;
	height: 15%;
	
	border-top: 1px solid #bfbfbf;
}
.m-map-bottom-follow {
	display:flex;
	width: 50%;
	align-items: center;
	
}
.m-map-bottom-rights {
	display:flex;
	width: 50%;
	align-items: center;
	justify-content: flex-end;
}	
		
.m-rights {
	display:flex;
  width: 100%;
  height: 45px;
  background-color: rgb(244,244,244);
}


@-webkit-keyframes m-title-sign-bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes m-title-sign-bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.m-title-sign-anim {
	-webkit-animation-name: m-title-sign-bounce;
  animation-name: m-title-sign-bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.icon {
	width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  color: #00ff00;
  font-size: 25px;
}

.icon-title-bar-btn {
	width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  color: #888888;
  font-size: 20px;
  cursor: pointer;
}

@font-face{
	font-family: Sansation_Light;
	src: url('../fonts/Sansation_Light.ttf'),url('../fonts/Sansation_Light.eot'); /* IE9 */
}
@font-face{
	font-family: Sansation_Bold;
	src: url('../fonts/Sansation_Bold.ttf'),url('../fonts/Sansation_Bold.eot'); /* IE9 */
}
@font-face{
	font-family: Sansation_Regular;
	src: url('../fonts/Sansation_Regular.ttf'),url('../fonts/Sansation_Regular.eot'); /* IE9 */
}
@font-face{
	font-family: boxii;
	src: url('../fonts/A Box For 2.ttf'),url('../fonts/A Box For 2.eot'); /* IE9 */
}
@font-face{
	font-family: box;
	src: url('../fonts/A Box For.ttf'),url('../fonts/A Box For.eot'); /* IE9 */
}
@font-face{
	font-family: boxiii;
	src: url('../fonts/A Box For 3.ttf'),url('../fonts/A Box For 3.eot'); /* IE9 */
}
@font-face{
	font-family: akbar;
	src: url('../fonts/akbar.ttf'),url('../fonts/akbar.eot'); /* IE9 */
}


.en_block_title{
	font-family: Sansation_Bold;
	font-weight: 700;
}
.en_input_label{
	font-family: Sansation_Light;
	font-weight: 900;
}
.en_input_hint{
	font-family: Sansation_Regular;
	font-weight: 100;
	font-size: 13px;
	color: rgb(230,28,100,1.0);
}
.en_label_small{
	font-family: Sansation_Regular;
	font-weight: 100;
	font-size: 13px;
}

.empty_block_10{
	height: 2px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.input_text_hint {
	margin: 0px; 
	padding: 0px;
	width: 100%; 
	height: 100%; 
	color: #888888; 
	font-style: italic; 
	border: 0px solid #ffffff; 
	background-color: rgb(255,255,255,0.0);
}

.frosted-glass{  
	background: inherit;   
  -webkit-filter: blur(2px);   
  -moz-filter: blur(2px);   
  -ms-filter: blur(2px);   
  -o-filter: blur(2px);   
  filter: blur(2px);  
  /* 
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); 
  */  
}

.half-transparent{ 
	filter: alpha(Opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.outer{
  /*position:relative;
  height: 200px;
  width: 200px;*/
  z-index:1;
  background: hsl(20,40%,90%) fixed;
  background-image:
  radial-gradient(closest-side, transparent 93%, rgba(20, 20, 20, 0.3) 94%), 
  radial-gradient(closest-side, transparent 93%, rgba(20, 20, 20, 0.3) 94%);
  /*
  linear-gradient(90deg,#fdd3f8 11px,transparent 0),
  linear-gradient(90deg,#fcfdc3 23px,transparent 0),
  linear-gradient(90deg,#c7e9a6 41px,transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
  */
  /*background-image:url(../images/uc-texture-1-bg.jpg);
  background-size: 100%;
  */
  background-position: 0 0px, 50px 50px;
  background-size: 100px 100px;
}
.inner:before{
  position:absolute;
  content:'';
  top: 0;right: 0;left: 0;bottom: 0;
  filter:blur(5px);
  background: hsl(20,40%,90%) fixed;
  
  background-image:
  radial-gradient(closest-side, transparent 93%, rgba(20, 20, 20, 0.3) 94%), 
  radial-gradient(closest-side, transparent 93%, rgba(20, 20, 20, 0.3) 94%);
  /*  
  linear-gradient(90deg,#fdd3f8 11px,transparent 0),
  linear-gradient(90deg,#fcfdc3 23px,transparent 0),
  linear-gradient(90deg,#c7e9a6 41px,transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
  */
  /*background-image:url(../images/uc-texture-1-bg.jpg);
  background-size: 100%;*/
  background-position: 0 0px, 50px 50px;
  background-size: 100px 100px;
  z-index:-1;
}

.inner{
  
  position:absolute;
  font:  20px/1.5 '宋体';
  /*
  top: 0;right: 0;left: 0;bottom: 0;
  
  height: 160px;
  width: 180px;
  margin:auto;*/
  filter: alpha(Opacity=100);
	-moz-opacity: 1;
  opacity: 1;
  background:hsla(0,0%,100%,.3);
}

.page-main-div{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;	
}

input {
	outline:0; 
}

.overlay { 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    /*
    background-size: 100% 100%;
    background-image: url(../images/neon-lights-background_600x594_h.jpg);
    */
    display: none;
    z-index: 5;
}