/*@media screen and (max-height:600px){
	.uc-populate-container{
		height: 600px;
	}
}

@media screen and (min-height:600px){
	.uc-populate-container{
		height: calc(100vh - 0px);
	}
}*/

.page-main-div{
	display:flex;
	flex-direction: column;
  width: 100%;
  height: 100%;
  
  background-image: url(/var/images/mainbg/i-mac-qhd.jpg);	
  background-repeat: no-repeat;
	background-position: center center;
	background-size: 2048px 1152px;
}

.uc-main-container{
	 display:flex;
	 flex-direction: column;
   width: 100%;
   height: 100%;
}

.uc-template-sample{
	width: 100%;
	background-color: #333333;
	height: 0;
}

.uc-populate-container {
	display:flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.uc-my-template{
	display:flex;
	flex-direction: row;
	width: 100%;
	background-color: #efefef;
	height: 0;
}

.uc-canvas{
	display: flex;
	align-items: center;
	justify-content: center;
	
  width: 100%;
  height: 100%;
  margin: 0px;		
}

.uc-canvasM{	
	/*
	left: 5%;
	top: 5%;
	*/
	height: 90%;
	width: 95%;
	position: relative;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: rgba(255,255,255,0.85);
	border:1px solid #eee;
	/*
	filter:alpha(opacity:85);
	opacity:0.85; 
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	*/
	border-radius: 10px;
	margin-left: 0px;
	/*margin-right: 10px;
	background-image: url(/var/images/mainbg/vintage-volkswagen-van-toy-1g-2048x1152.jpg);
	background-repeat: no-repeat;
	background-position: 45% 50%;
	background-size: 2048px 1152px;
	
	*/
	overflow: hidden;
}
.uc-canvasSubmit{
	position: absolute;
	top: 95%;
	left: 5%;
	margin-left: 20px;
	/*
	margin-left: 15px;
	*/
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	margin: 0px;
	padding: 0px;
	
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	
  height: 5%;
  width: 90%;
  
  z-index: 4;
}
.uc-canvasSubmitBtn{
	width: 50%;
	height: 80%;
	border: 0px solid #000;
	background-color: #009933;
	border-radius: 7px;
	font-size: 100%;
	font-family: Sansation_Bold;
	font-weight: 700;
	color: #fff;
}
	
.uc-canvas-container{
	position: relative;
	height: 100%;
	width: 100%;
	/*overflow: scroll;*/
	overflow-x: auto;
	overflow-y: auto;
}

.uc-input-title{
	position: relative;
	color: rgb(44,128,252);
}
.uc-input-area{
	position: relative;
	background-color: #f1f4f2;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	/*margin: 15px 0px 0px 0px;*/
	margin-top: 7px;
	padding: 6px 0px 6px 0px;
}
.uc-input-block{
	position: relative;
	left: 10%;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	/*
	margin: 5px 0px 5px 0px;*/
}
.uc-input{
	background-color: #ffffff;
	width: 100%;
	height: 18px;
	margin: 5px 0px 0px 0px;	
}
.uc-input-text{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	height: 100%;
	margin: 0px;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	border:2px solid #efefef;
	box-shadow: 1px 1px 1px #333333 inset;
	
	/*
	border:2px solid rgb(188, 20, 96);
	
	width: 90%;
	height: 100%;
	vertical-align: middle;
	display: block;*/
}
.uc-input-hint-icon{
	position: absolute;
	height: 70%;
	margin: 0px 3px 0px 0px;
	display: none;
	/*	top: 20%;
	position: absolute;
	
	width: 15px;
	height: 15px;*/
}
.uc-input-hint-text{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	margin: 3px 0px 0px 0px;
	color: rgb(225, 84, 148);
	visibility:hidden;
}
.uc-input-label{
	color: rgb(96, 84, 90);
}

.uc-edit-components{
	position: absolute;
	display: flex;
	align-items: center;
	
	left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
	padding: 0px;
	
	width: 100%;
	height: 950px;
	z-index: 4;
	
}

.uc-edit-comp-l{
	display: flex;
	align-items: center;
	flex-direction: column;
	
	width: 50%;
	height: 100%;
}
.uc-edit-comp-r{
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 50%;
	height: 100%;
}
.uc-edit-comp-r-top{
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.uc-edit-comp-r-tool{
	width: 100%;
	height: 40px;
	display: flex;
	background-color: rgb(244,244,244);
	border-bottom: 1px solid rgb(183, 185, 180);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	justify-content: flex-end;
	align-items: center;
}
.uc-edit-comp-r-container{
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.uc-edit-comp-r-list{
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.uc-edit-comp-r-list-con{
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.uc-edit-comp-r-editor{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.uc-edit-comp-r-editor-con{
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
}
.uc-edit-comp-r-editor-nav{
	width: 100%;
	height: 35px;
	display: flex;
	margin: 0px;
}
.uc-edit-comp-r-editor-content{
	width: 100%;
	height: 100%;
	display: flex;
}
.uc-edit-components-selector{
	/*height: 25%;*/
	width: 100%;
	
	flex-direction: column;
	align-items: center;
}
.container-selector{
	display: flex;
}
.iterator-selector{
	display: none;
}
.element-selector{
	display: none;
}
.pagination-selector{
	display: none;
}

.uc-edit-comp-r-editor-input-area{
	background-color: rgb(235,235,235); width: 100%; display: flex; justify-content: space-around; align-items: flex-start; flex-wrap: wrap; border: 1px solid rgb(183,185,180); box-shadow: 0 0 5px #ffffff inset; border-radius: 5px;
}
.uc-edit-comp-r-editor-input-head{
	width: 100%; height: 30px; display: flex; align-items: center;justify-content: center;
}
.uc-edit-comp-r-editor-input-body{
	width: 100%; display: flex; flex-direction: column;
}
.uc-edit-comp-r-editor-input-block{
	margin-top: 10px; width: 100%; height: 25px; display: flex;  justify-content: center; align-items: center;
}
.uc-edit-comp-r-editor-input-title{
	display: flex; 
	width: 55px; height: 100%; 
	background-color: rgb(244,244,244); 
	color: #333333;
	justify-content: center; align-items: center; 
	border: 0px solid #efefef;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}
.uc-edit-comp-r-editor-input-label{
	display: flex; 
	width: 55px; height: 100%; 
	justify-content: flex-end; align-items: center; 
	padding: 0px 6px 0px 0px;
	border: 0px solid #efefef;
}
.uc-edit-comp-r-editor-input{
	width: 100%; height: 100%; 
	border: 0px solid #efefef; border-top-right-radius: 5px;border-bottom-right-radius: 5px;
	background-color: #ffffff;   
}
.uc-edit-comp-r-editor-input-opr{
display: flex;  width: 65px; height: 100%; align-items: center; justify-content: space-around;
}

.uc-edit-components-float{
  position: absolute;
  display: flex;
  top: 100px;
  
  width: 450px;
	height: 750px;	
	z-index: 5;
}
.uc-edit-components-float-con{
	display: flex;
	position: absolute;
	width: 95%;
	left: 2%; 
	top: 5%;
}
.uc-edit-components-float-bg{
	width: 100%;
	height: 100%;
	background-color: #333333;
	border-radius: 5px;
	filter:alpha(opacity:85);
	opacity:0.85; 
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	
	 
	background:-moz-linear-gradient(top, rgb(25,57,67), rgb(5,29,40));/*Mozilla*/
	background:-webkit-gradient(linear,50% 0,50% 100%,from(rgb(25,57,67)), to(rgb(5,29,40)));/*Old gradient for webkit*/
	background:-webkit-linear-gradient(top,rgb(25,57,67), rgb(5,29,40));/*new gradient for Webkit*/
	background:-o-linear-gradient(top,rgb(25,57,67), rgb(5,29,40)); /*Opera11*/
	
}
.uc-edit-components-float-right{
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%;
	/*height: 100%; */
	
}
.uc-edit-components-editerC{
	/*height: 25%;*/
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.uc-edit-components-editerIt{
	/*height: 25%;*/
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.uc-edit-components-editerI{
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.uc-edit-components-editerP{
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.uc-edit-components-float-left{
  display: flex;
  position: absolute;
	flex-direction: column;
	width: 0;
	height: 100%;  
}

.uc-edit-components-top{
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	/*background-color: #333333;*/
}
.uc-edit-components-bottom{
	display: flex;
	/*position: absolute;
	top: 75%;*/
	width: 95%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	/*padding: 20px 10px 20px 10px;
	background-color: rgb(231,231,231);
	border-top: 1px solid rgb(197,197,197);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
.uc-edit-components-editer-bg{
	left:0;
  top: 0;
	padding: 0px;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgb(231,231,231);
	/*filter:alpha(opacity:70);
	opacity:0.7; 
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;*/
}
/*
.uc-edit-components-editer-bgC{
	height: 100%;
	width: 33%;
	background:-webkit-radial-gradient(#477b98, #445f7e);
  background:-moz-radial-gradient(#477b98, #445f7e);
  background:-o-radial-gradient(#477b98, #445f7e);
  background:radial-gradient(#477b98, #445f7e);
  filter:alpha(opacity:40);
	opacity:0.4; 
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
}
.uc-edit-components-editer-bgIt{
	height: 100%;
	width: 33%;
	background:-webkit-radial-gradient(#d5ecd8, #82ae92);
  background:-moz-radial-gradient(#d5ecd8, #82ae92);
  background:-o-radial-gradient(#d5ecd8, #82ae92);
  background:radial-gradient(#d5ecd8, #82ae92);
  filter:alpha(opacity:40);
	opacity:0.4; 
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
}
.uc-edit-components-editer-bgI{
	height: 100%;
	width: 34%;
	background:-webkit-radial-gradient(#ffbeb3, #ff5233);
  background:-moz-radial-gradient(#ffbeb3, #ff5233);
  background:-o-radial-gradient(#ffbeb3, #ff5233);
  background:radial-gradient(#ffbeb3, #ff5233);
  filter:alpha(opacity:40);
	opacity:0.4; 
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
}*/
.uc-edit-components-editer{
	display: flex;
	justify-content: space-around; 
	align-items: center;
	
	background-color: rgb(214,176,88); 
	box-shadow: 0 0 1px #000000 inset;
	width: 100%;
	height: 100%;
	border-top: 1px solid rgb(197,197,197) inset;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.uc-edit-components-top-bg{
	position: absolute;
	left:0;
  right:0;
  top: 0;
  bottom: 0;
	margin: auto;
	padding: 0px;
	width: 100%;
	height: 100%;
	/*border-radius: 5px;*/
	background-color: #333333;
}
.uc-edit-components-left-bro{
	position: absolute;
	left:0;
  right:0;
  top: 0;
  bottom: 0;
	margin: auto;
	padding: 0px;
	width: 80%;
	height: 80%;
	border-radius: 10px;
	display: flex;
}
.uc-edit-components-bro-win{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}
.uc-edit-components-bro-win-addr{
	width: 100%;
	height: 40px;
	display: flex;
	background-color: rgb(244,244,244);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.uc-edit-components-bro-win-tool{
	display: flex;
	width: 100%;
	height: 50px;
	background-color: rgb(231,231,231);
	border-top: 1px solid rgb(183, 185, 180);
	border-bottom: 1px solid rgb(183, 185, 180);
}
.uc-edit-components-bro-win-frame{
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}
.uc_bro_capture_img{
	cursor: move;
}

.uc-edit-components-right-panel{
	position: absolute;
	left:0;
  right:0;
  top: 0;
  bottom: 0;
	margin: auto;
	padding: 0px;
	width: 80%;
	height: 80%;
	
	/*border: 1px solid #efefef;
	background-color: rgb(71,98,127);*/
	background:-webkit-radial-gradient(#477b98, #445f7e);/* Safari 5.1 - 6.0 */
  background:-moz-radial-gradient(#477b98, #445f7e);/* Firefox 3.6 - 15 */
  background:-o-radial-gradient(#477b98, #445f7e);/* Opera 11.6 - 12.0 */
  background:radial-gradient(#477b98, #445f7e);/* 标准 */
}

.uc-edit-panel{
	position: relative;
	
	display: flex;
	/*flex-direction: column;*/
	background-color: #ffffff;
  height: 100%;
  width: 0px;
  margin: 0px;	
  padding: 0px;
  overflow: hidden;
}
.uc-edit-panel-bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: rgb(51, 51, 51, 1.0);
  width: 35px;
  height: 100%;
  margin: 0px;	
  padding: 0px;
}
.uc-edit-panel-bar-font{
	font-family: boxii; 
	font-weight: 100; 
	font-size: 25px; 
	color: #efefef;
}
.uc-edit-panel-main{
	position: absolute;
	left: 0px; 
	top: 0px;
	
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	
  width: 100%;
  height: 100%;
  margin: 0px;	
  padding: 0px;
  overflow: hidden;
}
.uc-edit-panel-block{
	width: 90%;
	/*margin-left: 5px;
	marign-right: 5px;*/
	margin-top: 10px;
}
/*
.uc-edit-panel-summary{
	width: 100%;
}
.uc-edit-panel-layout{
	width: 100%;
}
.uc-edit-panel-components{
	width: 100%;
}
.uc-edit-panel-schedule{
	width: 100%;
}*/

.uc-float-menu{
	position: absolute;
	top: 0px;
	left: 0px;
	/*
	margin-left: 15px;
	
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
	-webkit-align-items: center;
	*/
  /*width: 70px;*/
  
  z-index: 4;
}

.uc-float-menu-block{
	display: flex; 
	display: -webkit-flex;
	display: -ms-flexbox;
	
	position: relative;
	width: 50px; 
	height: 100%; 
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	/*background-color:rgb(228,183,10,1.0);*/
}
.uc-float-menu-block-c{
position:relative; 
display: flex;
display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-align-items: center;
		
width:100%; 
height:100%; 
left:-100%; 
background-color:rgb(228,183,10,1.0);
}
.uc-float-menu-one{
	position: absolute;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	
	width:39px; 
	height:39px; 
	background-image:url(/var/images/round-1.png);
	background-size: 100% 100%;
	background-position: center center;
}
.uc-float-menu-item{
	display: flex; 
	display: -webkit-flex;
	display: -ms-flexbox;
	
	position: relative;
	width: 100%; 
	height: 50px;
}
.uc-float-icon {
	width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  color: #00ff00;
  font-size: 25px;
}
.uc-float-icon-con {
	position: relative;
	
	display: flex; 
	align-items:center; 
	justify-content: center;
	width: 40px;
	height: 55px;
}
.uc-float-icon-input{
	display: none; 
	position:absolute;
	width: 0px;
	height: 0px;
	background-color: #998b66;
	
	align-items:center; 
	justify-content: space-around;
	/*overflow: hidden;*/
}
.uc-float-icon-mask{
	position: absolute;
	display: flex;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.uc-float-menu-item-icon {
position:relative; 
left: -50px; 
display: flex; 
display: -webkit-flex;
display: -ms-flexbox;
align-items: center; 
justify-content: flex-start; 
-webkit-align-items: center; 
-webkit-justify-content: flex-start; 
width: 35px; 
height: 100%; 
background-image:url(/var/images/round-right.png); 
background-repeat: no-repeat;
background-position:center left;
background-size:auto 100%;
justify-content: flex-start;
margin: 0px;
padding:0px;
}
.uc-float-menu-item-mask{
display: flex; 
display: -webkit-flex;
display: -ms-flexbox;
position: absolute;
left:17px; 
width: 35px; 
height: 100%; 
margin: 0px;
padding: 0px;
}

.uc-float-button{
	background-color: #000000;
	position: absolute; 
  left: 30px; 
  top: 400px; 
  height: 50px;
  width: 50px;
  z-index: 1;
}

.uc-quick-populate-container{
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 3;
}
.uc-quick-populate-container-mask{
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, 0.6);
}
.uc-quick-populate-container-expert{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 50px;
	padding: 0px;
}
.uc-quick-populate-container-simple{
	position: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	margin: 50px;
	padding: 0px;
}
.uc-quick-populate-components{
	background-color: #ffffff;
  width: 30%;
  height: 100%;
  margin: 0px;	
}
.uc-quick-populate-browser{
	background-color: #ffc0cb;
  width: 70%;
  height: 100%;
  margin: 0px;	
}

.uc-sample-template-icon{
	position: relative;
	box-pack: start;
	margin-left: 15px;
	vertical-align: bottom;
	top: 100%;
	z-index: 2;
}

.uc_i_corpus{
}
.uc_i_ranker{
}
.uc_i_subscriber{
}
.uc_i_timeseries{
}
.uc_i_banner{
}
.uc_i_help{
}

.uc_t_tool_addr{
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	position: absolute;
	left: 0px;
	top: 0px;*/
	width: 100%;
	height: 55px;
	background-color: #4d4533;
}
.uc_t_tool_bar_tot{
	display: flex;
	width: 100%;
	height: 100%;
}
.uc_t_tool_bar{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*
	position: absolute;
	left: 0px;
	top: 35px;*/
	width: 40px;
	height: 100%;
	background-color: #6b6147;
	/*
	filter:alpha(opacity:0);
	opacity:0; 
	-moz-opacity:0;
	-khtml-opacity: 0;*/
}
.uc_t_tool_bar_cnt{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*
	position: absolute;
	left: 0px;
	top: 35px;*/
	width: 0px;
	height: 100%;
	/*
	filter:alpha(opacity:0);
	opacity:0; 
	-moz-opacity:0;
	-khtml-opacity: 0;*/
}
.uc_t_box{
	position: absolute;
	left: 0px;/*calc(50% - 200px);*/
	top: 0px;/*calc(50% - 125px);*/
	width: 40%;
	height: 25%;
	display: none;
	flex-direction: column;
	border: 1px solid #bfbfbf;
	/*
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	*/
	background-color: rgb(255, 255, 255, 1.0);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 45%;
	z-index: 5;
	/*
	overflow: hidden;*/
}

.uc_t_boxD{
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgb(33, 33, 33,0.5);
}
.uc_submit_box{
	display: none;
	position: absolute;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
  width: 450px;
  /*height: 400px;*/
  margin: 0px;	
  padding: 0px;
  overflow: hidden;
  
  z-index: 6;
}
.uc_submit_box_con{
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
  width: 100%;
  /*height: 400px;*/
  margin: 0px;	
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255,255,255, 1.0);
  border-radius: 10px;
}
.uc_submit_box_title{
	display: flex;	
	align-items: center;
	justify-content: center;
	height: 55px;
  width: 100%;
  font-family: akbar;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
@-webkit-keyframes uc-panelIn-frm {
  0%   {width:55px;}
	100% {width:30%;}
}

@keyframes uc-panelIn-frm {
  0%   {width:55px;}
	100% {width:30%;}
}

.uc-panelIn{
	/*
	-webkit-animation-name: uc-panelIn-frm;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.25,.01,.25,1) 
  
  animation-name: uc-panelIn-frm;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-timing-function: cubic-bezier(.25,.01,.25,1)
  */
}


@-webkit-keyframes uc-panelOut-frm {
  0%   {width: 30%;}
	100% {width: 55px;}
}

@keyframes uc-panelOut-frm {
  0%   {width: 30%;}
	100% {width: 55px;}
}

.uc-panelOut{
	/*
	-webkit-animation-name: uc-panelOut-frm;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  
  animation-name: uc-panelOut-frm;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  */
}

@-webkit-keyframes uc-temp-slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes uc-temp-slideInRight {
  0%   {height: 0px;}
	100% {height: 100px;}
}

.uc-template-sample-slideDownRight{
	-webkit-animation-name: uc-temp-slideInRight;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  /*-webkit-animation-timing-function: cubic-bezier(.25,.01,.25,1) */
  
  animation-name: uc-temp-slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  /*animation-timing-function: cubic-bezier(.25,.01,.25,1)*/
}

@-webkit-keyframes uc-temp-slideUpRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes uc-temp-slideUpRight {
  0%   {height: 100px;}
	100% {height: 0px;}
}

.uc-template-sample-slideUpRight{
	-webkit-animation-name: uc-temp-slideUpRight;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  /*-webkit-animation-timing-function: cubic-bezier(.25,.01,.25,1) */
  
  animation-name: uc-temp-slideUpRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  /*animation-timing-function: cubic-bezier(.25,.01,.25,1)*/
}