/*************Banner component style definition ***************/
.banner_tool {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	padding: 2px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 0.2;
}

.wrapper_banner{
	/*display: flex;*/
	position: absolute;
	left: 5%;
	top: 10%;
	width: 90%;
	height: 35%;
	
	background-color: rgb(33,33,33,1.0);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px solid #efefef;
	border-radius: 0px;
}

.comp_banner{
	position: relative;
	align-items: flex-end;
	justify-content: center;
	
	height: 100%;
	width: 100%;
	
}
.banner_body{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.banner_footer{
	position: relative;
	top: -45px;
	height: 45px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner_nav{
	width: 18px;
	height: 18px;
	border: 4px solid #fff;	
	margin-left: 6px;
}

.banner_bg {
	position: absolute;
	left: 0px;
	top: 0px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
.banner-bg-fillfull {
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100%;
	width: 100%;
	overflow: hidden;
	
	background-repeat: no-repeat;
	background-position: center 0px;
}

.banner_block{
	display: none;
}
.banner_img{
	max-width: 100%;
	max-height: 100%;
}

/*************Ends Banner component style definition ***************/

.or-spacer {
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    position: relative;
}
.or-spacer .mask {
    overflow: hidden;
    height: 20px;
}
.or-spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}
.or-spacer span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
}
.or-spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #999;
}
.uc-corpus-browser-split{
	height: 90%;
}
.or-spacer-vertical {
    display: inline-block;
    /*margin-top: 100px;
    margin-left: 100px;
    width: 100px;*/
    height: 100%;
    position: relative;
}
.or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    /*height: 200px;*/
    height: 100%;
}
.or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px/125px;
    box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px/125px;
    box-shadow: 0 0 8px black;
}