.uc-float-icon {
	width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  color: #888888;
  font-size: 25px;
}
.cn_category_label{
	font-size: 1.09em;
	weight: 500;
	color: #000;
}
button {
	background-color: rgba(255,255,255,0.0);
	border:0px;
	width: 100%;
	height: 100%;
	outline:none;
}
.uc-edit-components{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	min-height:656px;
	min-width:800px;
	z-index: 6;
	padding-top: 2px;
}
.uc-edit-components-favorite{
	flex-direction: column;
margin-top: 5px;
	width: 93%;
	height: 100%;
}
.uc-edit-components-user{	
		flex-direction: column;
	margin-top: 9px;
	width: 93%;
	height: 100%;
}
.uc-edit-comp-l{
	display: flex;
	align-items: center;
	flex-direction: column;
	border-top-right-radius:5px;
	min-width: 300px;
	width: 20%;
	height: 100%;
		background-color: rgba(213,213,213,1.0);
	
}
.uc-edit-comp-con{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 100%;
	background-color: rgba(255,255,255,1.0);
	
}
.uc-edit-comp-con-items{
	display: flex;
	flex-direction: column;

	width: 93%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.user-items-category-sel{
	padding: 2px 4px;border-radius:5px;background-color:rgba(68,206,246,0.65);
	display: flex; width:100%; align-items: center; justify-content: space-between;white-space : nowrap;
}
.user-items-category-nosel{
	padding: 2px 4px;border-radius:5px;
	display: flex; width:100%; align-items: center; justify-content: space-between;white-space : nowrap;
}
.page-tab-box{
	display: flex;
  width: 100%;
  height: 50px;
  border: 0px solid #efefef;
  padding-left:100px;
  border-bottom: 1px solid rgba(245,245,245,1.0);
}
.page-tab{
	height:100%;
	width: 85px;
	border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	border: 4px solid #c2ccd0;
	border-bottom: 0px;
white-space : nowrap;
background-color:rgba(245,245,245,0.84);
}
.page-tab-hide{
	height:100%;
	border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 75px;
	white-space : nowrap;
	
	border: 4px solid #efefef;
	border-bottom: 0px;
}
.view-row{
	display: flex;
	/*flex-wrap: wrap;*/
	width: 100%;
	height: 245px;
	justify-content: space-around;
	align-items: center;
	margin-top: 0px;
}
.view-col{
	position: relative;
	display: flex;
	flex-direction: column;
	
	width: auto;
	height: 100%;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	/*
	box-shadow: 0 0 8px #222222;*/
}
.view-col-wide{
	position: relative;
	display: flex;
	flex-direction: column;
	
	width: 280px;
	height: 100%;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	
	/*
	box-shadow: 0 0 8px #222222;*/
}
.view-col-wide-my{
	position: relative;
	display: flex;
	flex-direction: column;
	
	width: 280px;
	height: 100%;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	
	box-shadow: 0 0 4px #222222;
}
.view-col-img{
	height: 80%;
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.view-col-txt{
	height: 20%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	background-color: #efefef;
}
.view-col-txt-left{
	display: flex;
	margin-bottom:5px;
	justify-content: space-around;
	width:60px;
}
.view-col-txt-right{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.view-col-label{
	font-family: Sansation_Light;
	font-weight: 900;
	font-size: 10px;
	color: #333333;
	
	margin-bottom: 3px;
	margin-right: 3px;
}
.box-label{
	font-family: Sansation_Light;
	font-weight: 900;
	font-size: 90%;
	color: #333333;
	font-size: 20px;
	
}

.view-col-mask{
	position: absolute;
	left: 0px;
	top: 0px;
	
	height: 100%;
	width: 100%;
	display: flex;
}
.box-link-label{
	font-weight: 400;
	font-size: 14px;
	color: #425066;
}
.box-link-label-hide{
	font-weight: 400;
	font-size: 9px;
	color: #efefef;
}
.uc-edit-panel-block{
	width: 90%;
	/*margin-left: 5px;
	marign-right: 5px;*/
	margin-top: 10px;
}

.uc-text-editable {
	background-color: rgb(213,213,213,0.0);
	border-bottom: 1px solid rgb(204,188,138,1.0); 
	border-top:0px; 
	border-right:0px; 
	border-left:0px;
	font-family: xihei001;
	font-size: 0.87em;
	text-align: right;
	color: rgba(56,66,106,1.0);
}
.uc-float-icon-selected{
	width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 25px;
	color: #1296db;
}
.uc-float-icon-radio-nosel{
	display:none;
}
.uc-float-icon-radio-sel{
	display:flex;
}
.uc-float-icon-nochecked{
	display:none;
}
.uc-float-icon-checked{
	display:flex;
}
.uc-text-disable {
	background-image: url(/var/images/uc-icon-lock.png); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 45%; 
	background-color: rgb(213,213,213,0.0);
	border-bottom: 1px solid rgb(204,188,138,1.0); 
	border-top:0px; 
	border-right:0px; 
	border-left:0px;
	color: rgba(56,66,106,0.0);
}
.uc-input-title{
	position: relative;
	color: rgb(33,33,33,1.0);
}
.uc-input-area{
	position: relative;
	background-color: rgb(232,232,232,0.75);
	border-radius: 10px;
	width: 100%;
	/*	height: 100%;
	background-color: #f1f4f2;
	margin: 15px 0px 0px 0px;*/
	margin-top: 7px;
	padding: 6px 0px 6px 0px;
}
.uc-input-block{
	position: relative;
	left: 6.5%;
	width: 87%;
	margin-top: 2px;
	margin-bottom: 4px;
	/*
	margin: 5px 0px 5px 0px;*/
}
.uc-input-block-table{
	display: flex;
	flex-direction: column;
	
	width: 100%;
}
.uc-input-block-table-row{
	display: flex;
	
	width: 100%;
}
.uc-input{
	/*background-color: #ffffff*/;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
	width: 100%;
	height: 28px;
	margin: 5px 0px 0px 0px;	
	
}
.uc-edit-panel-main, .uc-edit-panel-layouts, .uc-edit-panel-template, .uc-edit-panel-material{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	
  width: 100%;
  height: 100%;
  margin: 0px;	
  padding: 0px;
 

  overflow: auto;
}